{% extends "layout.html" %}
{% block headcontent %}
        <style>
            form{
                
                margin:50px;
                size: 28px;
                
            }
            .newbutton{
                background-color: blue;
                color: white;
            }
            
            #image-preview{

                margin:50px;
            }
            h2{
                color: #131111
            }
.button {
 display: inline-block;
 border-radius: 7px;
 border: none;
 background: #1875FF;
 color: white;
 font-family: inherit;
 text-align: center;
 font-size: 13px;
 box-shadow: 0px 14px 56px -11px #1875FF;
 width: 10em;
 padding: 1em;
 transition: all 0.4s;
 cursor: pointer;
 font-size: 20px
}          
    #footer{
        /* display:none; */
        margin-top:600px;
    }  
        </style>
{% endblock headcontent %}
{% block mapcontent %}

<main>
<br><br>
    <div class="container" id="hero" style="margin-bottom: 20px;margin-bottom: 500px;">
        <h1>Modalities <span>Part</span> Classifier</h1>
        <h2>Upload an Image</h2>
    
    
    <form action="/predict_scan_result" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file" onchange="previewImage(event)" style="width: 50%;" class='button'>
        <input type="submit" value="Upload Image" name="submit" class="button" style="background-color: black;color:white;font-weight: 400;">
    </form>
    
    <div id="preview"></div>
    <div id="preview">
        {% if filename %}
        <h2>Uploaded Image Preview</h2>
        <img src="{{ url_for('static', filename=filename) }}" alt="Uploaded Image" style="max-width: 500px;">
        {% endif %}
    </div>
        {% if message %}
        <h1 style="font-size: 32px;">{{ "Prediction: "+message }}</h1>
        {% endif %}
    </div>
    </div>
</main>
<script>
// function previewImage(event) {
//     var file = event.target.files[0];
//     var reader = new FileReader();
//     reader.onload = function(){
//       var output = document.getElementById('image-preview');
//       output.innerHTML = '<img src="' + reader.result + '" alt="Uploaded Image">';
//     };
//     reader.readAsDataURL(file);
// }
</script>
{% endblock mapcontent %}
